@model RandToeWeb.Models.WebGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WebGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PublicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsOver)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
